@use "vars";
@use "mixins";
@use "sass:math";

// Grid container
.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: - math.div(1 * vars.$gutter-width, 2);
  margin-right: - math.div(1 * vars.$gutter-width, 2);
}

// Grid item
.col {
  padding-left: math.div(- 1 * vars.$gutter-width, 2);
  padding-right: math.div(-1 * vars.$gutter-width, 2);
  box-sizing: border-box;

  // Generate responsive classes
  @each $breakpoint, $breakpoint-width in vars.$breakpoints {
    @include mixins.respond($breakpoint) {
      @for $i from 1 through vars.$grid-columns {
        &-#{$i} {
          @include mixins.grid-col($i);
        }
      }
    }
  }
}
