@import "variables";
@import "mixins";

// Grid container
.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -($gutter-width / 2);
  margin-right: -($gutter-width / 2);
}

// Grid item
.col {
  padding-left: ($gutter-width / 2);
  padding-right: ($gutter-width / 2);
  box-sizing: border-box;

  // Generate responsive classes
  @each $breakpoint, $breakpoint-width in $breakpoints {
    @include respond($breakpoint) {
      @for $i from 1 through $grid-columns {
        &-#{$i} {
          @include grid-col($i);
        }
      }
    }
  }
}
